<footer>
    <div class="uk-section uk-padding-remove-top">
        <div class="uk-container">
            <!-- footer content begin -->
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-width-1-2@m">
                    <div class="in-footer-logo">
                        <img src="img/logo.svg" data-src="img/logo.svg" width="125" height="12" alt="logo" data-uk-img>
                        <p>Indonez &copy; 2019 All rights reserved</p>
                    </div>               
                </div>
                <div class="uk-width-1-2 uk-visible@m">
                    <div class="in-footer-socials uk-flex uk-flex-right">                        
                        <a href="#" class="uk-margin-small-right" data-uk-icon="icon: facebook; ratio: 0.8"></a>
                        <a href="#" class="uk-margin-small-right" data-uk-icon="icon: twitter; ratio: 0.8"></a>
                        <a href="#" class="uk-margin-small-right" data-uk-icon="icon: linkedin; ratio: 0.8"></a>
                        <span class="uk-label"><span class="uk-margin-small-right" data-uk-icon="icon:fa-envelope; ratio: .024"></span>hello@vilisya.id</span>
                    </div>
                </div>
            </div>
            <!-- footer content end -->
        </div>
        <div class="uk-flex uk-flex-right uk-visible@m">
            <a href="#" class="in-totop" data-uk-icon="icon: fa-chevron-up; ratio: .032" data-uk-scroll data-uk-scrollspy="cls: uk-animation-fade; hidden: true; offset-top: 100px; repeat: true"></a>
        </div>
    </div>
</footer>